body {
  padding: 0;
  margin: 0;
}

header {
  width: 100%;
  padding: 10px 16px;
  background: #555;
  color: #f1f1f1;
  position: fixed;
  top: 0;
}

main {
  margin: auto;
  width: 600px;
  padding: 100px;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background: #555;
  color: #f1f1f1;
  text-align: center;
}

.nota-bene {
  background-color: yellow;
  padding: 1em;
}
